<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% todos.each do |todo| %>
      <tr>
        <td><%= link_to todo.title, todo %></td>
        <td><%= todo.body %></td>
        <td><%= todo.status %></td>
        <td><%= todo.priority %></td>
        <td><%= todo.category&.name %></td>
        <td><%= link_to '完了', status_todo_path(todo, status: 1), method: :patch %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate todos %>
