body {
  font-size: 24px;
}

#wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

  header {
    background-color: #ccc;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;

  th {
    background-color: #ccc;
  }

  td {
    padding: 4px;
  }
}

nav.pagination {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}
